---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css'
import Header from "../components/Header.astro";
---

<Layout title="blog">
        <h1>Blog</h1>
        <Header/>

        <h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde voy a post sobre mi viaje de aprendizaje Astro.</p>
        <ul>
          <li><a href="/post/post-1/">Post 1</a></li>
          <li><a href="/post/post-2/">Post 2</a></li>
          <li><a href="/post/post-3/">Post 3</a></li>
        </ul>

        
	<script>
		import "../scripts/menu.js";
	</script>
</Layout>